In [38]:
import numpy as np
import os
import sys
import pickle
from collections import Counter
import pandas as pd

In [2]:
shared_path = '../shared/'
if shared_path not in sys.path:
    sys.path.append(shared_path)
    
#hdc_path = '../heuristic-data-creation/'
#if hdc_path not in sys.path:
#    pass

In [18]:
from Argument import Argument
from DataHandler import DataHandler

In [19]:
data = DataHandler()
data.load_bin('../../not-gitted/argsme-crawled/1629700068.9873986-6578-arguments.pickle')

In [20]:
d = data.get_arguments()

In [21]:
len(d)

6578

In [24]:
filtered_d = data.get_filtered_arguments(DataHandler.get_args_filter_length(length=3))

In [25]:
len(filtered_d)

5157

In [44]:
filtered_d[1337].sentences

["The goals of the British Empire in the War of 1812 was to prevent the U.S from annexing Canada, and than invaded the nation, but didn't gain or lose any land.",
 "The U.S's goals was to annex Canada, and was pushed back, but prevented the British from conquering them, and was deemed the Second War of Independence, and also lost no land, but got fishing rights in the Great Lakes.",
 'Canada, with British help repelled the U.S, but also, like the others, gained nothing of importance.',
 "If the British/Canadians forces really won, it would've been by invading and annexing the U.S."]

In [30]:
context_keys = data.get_query_context_keys(filtered_d)

In [36]:
contexts = dict()
for c in context_keys:
    args = data.get_query_context(filtered_d, c)
    if len(args) > 0:
        contexts[c] = args

In [39]:
records = list()
for c in contexts.keys():
    no_args = len(contexts[c])
    
    records.append({
        'context': c,
        'context_length': no_args
    })
    
cdf = pd.DataFrame.from_records(records)
cdf

                              context  context_length
0                              incest              10
1                                ufos               3
2                        noam_chomsky              10
3                      jennifer_lopez               1
4                            sedition               2
..                                ...             ...
672  democratic_republic_of_the_congo               2
673             universal_health_care              10
674                       dick_cheney               2
675                         terrorism               7
676                           rap_god               2

[677 rows x 2 columns]

In [40]:
cdf.describe()

       context_length
count      677.000000
mean         7.617430
std          3.908706
min          1.000000
25%          5.000000
50%          8.000000
75%          9.000000
max         30.000000

In [54]:
cdf[cdf['context_length']>2]

                   context  context_length
0                   incest              10
1                     ufos               3
2             noam_chomsky              10
5      jehovah's_witnesses               8
6            joseph_stalin               6
..                     ...             ...
668     affirmative_action              10
669                myspace               9
670         michael_savage              10
673  universal_health_care              10
675              terrorism               7

[607 rows x 2 columns]

In [52]:
controversies = pd.read_csv('wiki_controversies.txt', sep=';', header=None)

In [53]:
controversies

                                       0
0                  2003 invasion of iraq
1                               abortion
2                     affirmative action
3              african national congress
4                     alberta separatism
...                                  ...
1502                    student athletes
1503                  super bowl xxxviii
1504  janet jackson wardrobe malfunction
1505                       tonya harding
1506                        larry nassar

[1507 rows x 1 columns]